<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableExample</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] || flash[:alert] %>
      <div class="<%= "flash-container #{flash.alert ? 'error' : ''}".strip %>">
        <p class="<%= "flash-message #{flash.alert ? 'error' : ''}".strip %>"><%= "#{flash.notice}#{flash.alert}" %></p>
      </div><!-- End flash container -->
    <% end %>
    <%= yield %>
  </body>
</html>
